{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/spide2.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hi, I'm Wassime, a passionate Full-Stack Developer with a love for crafting seamless and dynamic digital
                experiences. With a strong foundation in both front-end and back-end technologies, I specialize in
                building scalable and efficient applications that not only meet but exceed user expectations.</p>
            <p>Over the years, I’ve honed my skills in technologies like JavaScript, React, Node.js, and various
                databases to create robust solutions that solve real-world problems. Whether it’s designing intuitive
                interfaces, building complex back-end systems, or integrating everything into a cohesive user
                experience, I thrive on turning ideas into functional, high-performance applications.</p>
            <p>I believe that clean, maintainable code and a user-centered approach are the keys to successful
                development. My goal is to help businesses and individuals bring their visions to life by providing
                reliable, future-proof solutions.</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}